# Android Studio
*.iml
.idea/
.gradle/
build/
**/build/
captures/
.cxx/
.externalNativeBuild/

# OS-specific
.DS_Store

# Local config
local.properties

# Gradle wrapper (à garder)
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
